* {
  zoom: 1.05;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  background: url(assets/img/background.jpg) center fixed;
  color: #fbfbfb;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #131313;
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  width: 45vw;
  border-radius: 0 0 10px 10px;
}

section {
  max-width: 500px;
  width: 45vw;
  padding: 15px;
  border-radius: 10px;
  background-color: #131313;
  margin: 2vh auto 0 auto;
}

section h1 {
  margin-top: 0;
}

section img, section video {
  width: 100%;
  height: auto;
}

form {
  text-align: center;
}

form input[type="text"] {
  width: 100%;
}

form input[type="button"] {
  margin: 0 auto;
  width: 4vw;
}

form input {
  margin-top: 1vh;
}

#whatsapp::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  content: "";
  background: url("https://cdn.icon-icons.com/icons2/373/PNG/256/Whatsapp_37229.png") no-repeat 0 0;
  background-size: 100%;
}