* {
	zoom: 1.05;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	margin: 0;
	background: url(assets/img/background.jpg) center fixed;
	color: #fbfbfb;
}

nav {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-evenly;
	background-color: #131313;
	padding: 15px;
	max-width: 500px;
	margin: 0 auto;
	width: 45vw;
	border-radius: 0 0 10px 10px;
}

section {
	max-width: 500px;
	width: 45vw;
	padding: 15px;
	
	border-radius: 10px;
	background-color: #131313;
	margin: 2vh auto 0 auto;

	& h1 {
		margin-top: 0;
	}

	& img, video {
		width: 100%;
		height: auto;
	}
}

form {
	text-align: center;
	& input[type="text"] {
		width: 100%;
	}
	& input[type="button"] {
		margin: 0 auto;
		width: 4vw;
	}
	& input {
		margin-top: 1vh;
	}
}

#whatsapp::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    content: "";
    background: url("https://cdn.icon-icons.com/icons2/373/PNG/256/Whatsapp_37229.png") no-repeat 0 0;
    background-size: 100%;
}